In [19]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(
    {
        'name': ['Bulbasaur', 'Ivysaur', 'NaN', 'Sandslash'],
        'attack': [49, 62, 'NaN', 100],
        'type': ['grass', 'grass', 'water', 'ground']
        
    }, columns=['name', 'attack', 'type']
)



new_data = '111111'

df1['date'] = pd.Series(new_data)
Replace NaN for new da
df1.fillna( {'date': new_data}, inplace=True )
df1

        name attack    type    date
0  Bulbasaur     49   grass  111111
1    Ivysaur     62   grass  111111
2        NaN    NaN   water  111111
3  Sandslash    100  ground  111111