In [7]:
import pandas as pd
d = [{'a': 123, 'b': 1234}, {'a': 3222, 'b': 1234}, {'a': 123, 'b': 1234}]
d

[{'a': 123, 'b': 1234}, {'a': 3222, 'b': 1234}, {'a': 123, 'b': 1234}]

In [8]:
import pandas as pd
d = [{'a': 123, 'b': 1234}, {'a': 3222, 'b': 1234}, {'a': 123, 'b': 1234}]
d_unique = pd.DataFrame(d).drop_duplicates().to_dict('records')
d_unique

[{'a': 123, 'b': 1234}, {'a': 3222, 'b': 1234}]

In [9]:
[dict(t) for t in {tuple(d.items()) for d in d}]

[{'a': 123, 'b': 1234}, {'a': 3222, 'b': 1234}]